
@{
    ViewBag.Title = "Form";
}

<h2>Novo BL</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="/BL/Adiciona" method="post">
        @if (ViewBag.BL.Numero == null)
        {
            <label for="numero"> Número: </label>
            <input class="form-control" id="numero" name="BL.Numero" value="@ViewBag.BL.Numero" />
        }
        else
        {
            <label for="numero"> Número: </label>
            <input class="form-control" id="numero" name="BL.Numero" value="@ViewBag.BL.Numero" readonly/>
        }


        <label for="consignee"> Consignee: </label>
        <input class="form-control" id="consignee" name="BL.Consignee" value="@ViewBag.BL.Consignee" />

        <label for="Navio"> Navio: </label>
        <input class="form-control" id="Navio" name="BL.Navio" value="@ViewBag.BL.Navio" />

        <br />
        <input class="btn-success" type="submit" />
    </form>
</body>
</html>