
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de BLs</title>
</head>
<body>
    <h2>Lista de BLs</h2>
    <button class="btn-default">Novo</button>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EDITAR</th>
                <th>NÚMERO</th>
                <th>CONSIGNEE</th>
                <th>NAVIO</th>
                <th>APAGAR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bl in ViewBag.BLs)
            {
                <tr>
                    <td>
                        <button class="btn-default"><span class="glyphicon glyphicon-edit"></span></button>
                    </td>
                    <td>@bl.Id</td>
                    <td>@bl.Consignee</td>
                    <td>@bl.Navio</td>
                    <td><button class="btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

