
@{
    ViewBag.Title = "Index";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos</title>
</head>
<body> 
    <h2>Lista de Container</h2>
    <button class="btn-default" >Novo</button>

    <button class="btn-danger">D</button>
    <button  class="btn-toolbar"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
    <br/>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Editar/Apagar</th>
                <th align="center">Número</th>
                <th align="center">Tipo</th>
                <th align="center">Tamanho</th>
                <th align="center">BL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in ViewBag.Containers)
            {
                <tr>
                    <td><button class="btn-danger">D</button><button class="btn-warning">W</button></td>
                    <td align="center">@container.Numero</td>
                    <td  align="center">@container.Tipo</td>
                    <td  align="center">@container.Tamanho</td>
                    <a href="BL"><td align="center">@container.BLId.Id</td></a>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

