
@{
    ViewBag.Title = "Index";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos</title>
</head>
<body>
    <h2>Lista de Container</h2>
    <table>
        <thead>
            <tr>
                <th >Número</th>
                <th colspan="2">Tipo</th>
                <th >Tamanho</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in ViewBag.Containers)
            {
                <tr>
                    <td align="center">@container.Numero</td>
                    <td colspan="2" align="center">@container.Tipo</td>
                    <td align="center">@container.Tamanho</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

