
@{
    ViewBag.Title = "Index";
}




<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos</title>
</head>
<body> 
    <h2>Lista de Container</h2>
    <br/>
    <table cellspacing="20">
        <thead>
            <tr>
                <th >Número</th>
                <th rowspan="20">Tipo</th>
                <th rowspan="20" >Tamanho</th>
                <th rowspan="20">BL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in ViewBag.Containers)
            {
                <tr>
                    <td align="center">@container.Numero</td>
                    <td  align="center">@container.Tipo</td>
                    <td  align="center">@container.Tamanho</td>
                    <a href="BL"><td align="center">@container.BLId.Id</td></a>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

